# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://fvcbfuyuxilhebpacswp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2Y2JmdXl1eGlsaGVicGFjc3dwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA0MTQ2MzUsImV4cCI6MjA4NTk5MDYzNX0.N-E0B8PPQK1MOtFINKEQhnBrOB0Gm1-DfWfQQqEfkLs

# Gemini AI Configuration
EXPO_PUBLIC_GEMINI_API_KEY=AIzaSyAz7ng1fJvgD1tkS4S3SXUxTXkdVtXqB8g

# Cloudinary Configuration
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=dk6m8nzz3
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=recycle_hub_preset

# Google Places API Configuration
EXPO_PUBLIC_GOOGLE_PLACES_API_KEY=AIzaSyAW1BzXEq33ca7_L_TPKZNtNt5wP8g4Hew
